@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none !important;
}
.bg-radial-gradient {
  background-image: radial-gradient(
    circle at 10% 20%,
    rgba(4, 159, 108, 1) 0%,
    rgba(194, 254, 113, 1) 90.1%
  );
}

@layer base {
  :root {
  --background: 210 16.67% 97.65%;
  --foreground: 240 41.46% 8.04%;
  --card: 0 0% 100%;
  --card-foreground: 240 41.46% 8.04%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 41.46% 8.04%;
  --primary: 312.94 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 100% 97.06%;
  --secondary-foreground: 240 41.46% 8.04%;
  --muted: 240 100% 97.06%;
  --muted-foreground: 240 41.46% 8.04%;
  --accent: 168 100% 50%;
  --accent-foreground: 240 41.46% 8.04%;
  --destructive: 14.35 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 198.00 18.52% 89.41%;
  --input: 198.00 18.52% 89.41%;
  --ring: 312.94 100% 50%;
  --chart-1: 312.94 100% 50%;
  --chart-2: 273.88 100% 50%;
  --chart-3: 186.12 100% 50%;
  --chart-4: 168 100% 50%;
  --chart-5: 54.12 100% 50%;
  --sidebar: 240 100% 97.06%;
  --sidebar-foreground: 240 41.46% 8.04%;
  --sidebar-primary: 312.94 100% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 168 100% 50%;
  --sidebar-accent-foreground: 240 41.46% 8.04%;
  --sidebar-border: 198.00 18.52% 89.41%;
  --sidebar-ring: 312.94 100% 50%;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: 240 41.46% 8.04%;
  --foreground: 217.50 26.67% 94.12%;
  --card: 240 35.48% 18.24%;
  --card-foreground: 217.50 26.67% 94.12%;
  --popover: 240 35.48% 18.24%;
  --popover-foreground: 217.50 26.67% 94.12%;
  --primary: 312.94 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 35.48% 18.24%;
  --secondary-foreground: 217.50 26.67% 94.12%;
  --muted: 240 35.48% 18.24%;
  --muted-foreground: 232.11 17.59% 57.65%;
  --accent: 168 100% 50%;
  --accent-foreground: 240 41.46% 8.04%;
  --destructive: 14.35 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 34.29% 27.45%;
  --input: 240 34.29% 27.45%;
  --ring: 312.94 100% 50%;
  --chart-1: 312.94 100% 50%;
  --chart-2: 273.88 100% 50%;
  --chart-3: 186.12 100% 50%;
  --chart-4: 168 100% 50%;
  --chart-5: 54.12 100% 50%;
  --sidebar: 240 41.46% 8.04%;
  --sidebar-foreground: 217.50 26.67% 94.12%;
  --sidebar-primary: 312.94 100% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 168 100% 50%;
  --sidebar-accent-foreground: 240 41.46% 8.04%;
  --sidebar-border: 240 34.29% 27.45%;
  --sidebar-ring: 312.94 100% 50%;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
}
}

@layer base {
  * {
    @apply border-border; 
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}